<!DOCTYPE html>
{% extends 'MyApp/base.html' %}
{% block body_block %}
<h2 style="text-align: center">Address : Vip Institute near MJ College,Jalgaon</h2>
<center>
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#ff0000" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
</svg>
    <i class="bi bi-geo-alt-fill"></i>


<div class="mapouter"><div class="gmap_canvas"><iframe src="https://maps.google.com/maps?q=vip%20institute%20jalgaon&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" style="width: 240px; height: 240px;"></iframe><style>.mapouter{position:relative;height:240px;width:240px;background:#fff;} .maprouter a{color:#fff !important;position:absolute !important;top:0 !important;z-index:0 !important;}</style><a href="https://blooketjoin.org">blooketjoin</a><style>.gmap_canvas{overflow:hidden;height:240px;width:240px}.gmap_canvas iframe{position:relative;z-index:2}</style></div></div>
</center>

{% endblock %}
