<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="{% static 'css/myfile.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <style type="text/css">
      body{
    background-image:url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703462400&semt=sph");
    background-repeat: no-repeat;
    background-size: cover;
}
  </style>
</head>
<body>


<nav class="navbar navbar-default navbar-inverse">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand">Vip Institute</a>
    </div>
      <ul class="nav navbar-nav">
          <li><a href="/Home">Home</a></li>
        <li><a href="/course">Course</a></li>
        <li><a href="/AboutUs">About Us</a></li>
          <li><a href="/Contact">Contact</a></li>
      </ul>

  </div>
</nav>



</div>




{% block body_block %}
{% endblock %}


</body>
</html>